Source: mono-llvm
Priority: optional
Maintainer: Parallels <parallels@unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mono-llvm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mono-llvm.git;a=summary

Package: mono-llvm
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
